@using System.Linq;
@model List<FBT.MVC.Models.ExpenseModel>


<h2>Expenses</h2>

<a href="/Expense/Create">Create</a>

<table class="table table-responsive">
    <tr>
        <td>Date</td>
        <td>Price</td>
        <td>Type</td>
        <td>Recurring</td>
        <td>
            Actions
        </td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.PaymentDate.ToString("dd-MMMM-yyyy")</td>
            <td>@item.Amount</td>
            <td>@item.ExpenseType</td>
            <td>@{
                    if (@item.IsRecurring)
                    {
                        <span>Yes</span>
                    }
                    else
                    {
                        <span>No</span>
                    }
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id, isRecurring = item.IsRecurring}, null)
                <a href="/Expense/Delete/@item.Id">Delete</a>
            </td>
        </tr>
    }
</table>